.elementor-lakit-timeline-vertical.v2{
	.lakit-vtimeline--align-center{
			.lakit-vtimeline__line{
				top: 0 !important;
				bottom: -100px !important;
				background: rgb(255,255,255);
				background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 50%, rgba(255,255,255,1) 100%);
			}
			.lakit-vtimeline__line-progress{
				background: linear-gradient(180deg, rgba(255,255,255,0) 0%, var(--lakit-primary-color) 50%, rgba(255,255,255,0) 100%);
			}
	}
}
.elementor-lakit-timeline-vertical.v2{
	.lakit-vtimeline-item{
		&:nth-child(2n+1){
			.lakit-vtimeline-item__card-arrow{
				width: 80px;
				height: 80px;
				-webkit-mask-image: url(assets/images/arrow1.svg);
				-webkit-mask-position: bottom right;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-size: contain;
				mask-image: url(assets/images/arrow1.svg);
				mask-position: bottom right;
				mask-repeat: no-repeat;
				mask-size: contain;
				box-shadow: inherit;
				right: -20px;
				transform: none;
				@media(max-width: 1024px){
					-webkit-mask-image: url(assets/images/arrow2.svg);
					-webkit-mask-position: bottom left;
					mask-image: url(assets/images/arrow2.svg);
					mask-position: bottom left;
					left: -20px;
					right: auto;
				}
				@media(max-width: 767px){
					left: -10px;
				}
			}
		}
		&:nth-child(2n){
			.lakit-vtimeline-item__card-arrow{
				width: 80px;
				height: 80px;
				-webkit-mask-image: url(assets/images/arrow2.svg);
				-webkit-mask-position: bottom left;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-size: contain;
				mask-image: url(assets/images/arrow2.svg);
				mask-position: bottom left;
				mask-repeat: no-repeat;
				mask-size: contain;
				box-shadow: inherit;
				left: -20px;
				transform: none;
				@media(max-width: 767px){
					left: -10px;
				}
			}
		}
		.lakit-vtimeline-item__point{
			margin-top: auto;
			margin-bottom: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			background-color: #fff;
		}
	}
}

.wpcf7 .lakit-row .ajax-loader {
	position: absolute;
	margin: 0;
	margin-top: 20px;
}
.wpcf7 .wpcf7-not-valid-tip {
	font-size: .875em;
}

.custom-contenttab {
	align-items: center;
	@media(min-width: 1400px){
		font-size: 20px;
	}
	h3 {
		font-family: inherit;
		font-weight: bold;
	}
	a.la-popup{
		position: relative;
		&:before{
			content: '\ea45';
			font-family: LaStudioIcons;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			border: 1px solid;
			border-radius: 50%;
			width: 3.2em;
			height: 3.2em;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: .2em;
			speak: none;
			text-transform: none;
			-webkit-font-smoothing: antialiased;
			font-size: 20px;
			transition: all .3s;
		}
		&:hover{
			&:before{
				transform: translate(-50%,-50%) scale(1.2);
			}
		}
	}
}

.m23-frm-booking{
	margin-left: auto;
	.lakit-row{
		align-items: center;
	}
	.wpcf7-submit{
		height: 182px;
		@media(max-width: 1600px){
			height: 150px;
		}
		@media(max-width: 1280px){
			height: auto;
		}
		@media(max-width: 767px){
			width: 100%;
		}
	}
	.lakit-col{
		&:last-child{
			flex: 0 0 0;
			position: relative;
			@media(max-width: 767px){
				flex: 1 0 100%;
			}
			.ajax-loader{
				top: calc(50% - 12px);
				left: calc(50% - 12px);
				margin: 0;
			}
		}
	}
	.wpcf7{
		span.wpcf7-not-valid-tip {
			position: absolute;
			font-size: 12px;
		}
		.wpcf7-response-output{
			position: absolute;
			bottom: 0;
			margin: 0;
			font-size: .875em;
			left: 0;
		}
	}
}

//.lakit-carousel.lakit-carousel--simple .lakit-carousel__item-link{
//	overflow: hidden;
//}


//.elementor-widget-icon .elementor-icon {
//	vertical-align: middle;
//	display: flex;
//}